# Server
# Convex
CONVEX_DEPLOYMENT=""
NEXT_PUBLIC_CONVEX_URL=""
NEXT_PUBLIC_CONVEX_SITE_URL=""
SITE_URL="http://localhost:3000"

# Better Auth
BETTER_AUTH_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_FREE_PRICE_ID=""
STRIPE_PRO_PRICE_ID=""

# Email
RESEND_FROM=""
RESEND_TOKEN=""

# Observability
BETTERSTACK_API_KEY=""
BETTERSTACK_URL=""

# Feature Flags
FLAGS_SECRET=""

# Security
ARCJET_KEY=""

# Misc
SVIX_TOKEN=""
LIVEBLOCKS_SECRET=""
BASEHUB_TOKEN=""
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3000"
KNOCK_API_KEY=""
KNOCK_FEED_CHANNEL_ID=""
KNOCK_SECRET_API_KEY=""

# Client
# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""

# Notifications
NEXT_PUBLIC_KNOCK_API_KEY=""
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=""

# URLs
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"
